### Problem1

In [1]:
library(car)

Loading required package: carData
Warning message:
"package 'carData' was built under R version 3.6.3"

In [2]:
y <- c(
3.5,2.9,3.8,3.2,
3.1,3.8,3.5,NA,
4.6,3.2,5.0,4.6,

1.8,2.2,2.5,3.7,
2.4,2.8,3.1,2.5,
3.6,2.7,2.4,1.9,

5.5,NA,3.9,4.1,
6.2,6.8,7.2,5.1,
NA,6.5,7.4,3.9)
S <- rep(rep(c(1,2,3),each=4),3)
I <- rep(c(1,2,3,4),9)
V <- rep(c(1,2,3),each=12)
redesign <-  rep(c(1,2,3,4,5,6,7,8,9),each=4)

In [3]:
data <- data.frame(V=factor(V),S=factor(S),I=factor(I),Y=y)
data

   V S I Y
1  1 1 1 3.5
2  1 1 2 2.9
3  1 1 3 3.8
4  1 1 4 3.2
5  1 2 1 3.1
6  1 2 2 3.8
7  1 2 3 3.5
8  1 2 4  NA
9  1 3 1 4.6
10 1 3 2 3.2
11 1 3 3 5.0
12 1 3 4 4.6
13 2 1 1 1.8
14 2 1 2 2.2
15 2 1 3 2.5
16 2 1 4 3.7
17 2 2 1 2.4
18 2 2 2 2.8
19 2 2 3 3.1
20 2 2 4 2.5
21 2 3 1 3.6
22 2 3 2 2.7
23 2 3 3 2.4
24 2 3 4 1.9
25 3 1 1 5.5
26 3 1 2  NA
27 3 1 3 3.9
28 3 1 4 4.1
29 3 2 1 6.2
30 3 2 2 6.8
31 3 2 3 7.2
32 3 2 4 5.1
33 3 3 1  NA
34 3 3 2 6.5
35 3 3 3 7.4
36 3 3 4 3.9

因為有空組，故對資料進行校正。

| u    |    S1   |    S2    |    S3    |
|------|:-------:|:--------:|:--------:|
| V(1) | 3.35(4) | 3.46(3)  | 4.35(4)  |
| V(2) | 2.55(4) | 2.7(4)   | 2.65(4)  |
| V(3) | 4.5(3)  | 6.325(4) | 5.933(3) |

In [33]:
V1 <- c(3.35,3.35,3.35,3.35,3.46,3.46,3.46,4.35,4.35,4.35,4.35)
V2 <- c(2.55,2.55,2.55,2.55,2.7,2.7,2.7,2.7,2.65,2.65,2.65,2.65)
V3 <- c(4.5,4.5,4.5,6.325,6.325,6.325,6.325,5.933,5.933,5.933)
obs <- c(V1,V2,V3)
V <- rep(c(1,2,3),times=c(11,12,10))
S <- c(rep(c(1,2,3),times=c(4,3,4)),rep(c(1,2,3),times=c(4,4,4)),rep(c(1,2,3),times=c(3,4,3)))
dataR <- data.frame(V=factor(V),S=factor(S),Y=obs)
dataR

   V S Y
1  1 1 3.350
2  1 1 3.350
3  1 1 3.350
4  1 1 3.350
5  1 2 3.460
6  1 2 3.460
7  1 2 3.460
8  1 3 4.350
9  1 3 4.350
10 1 3 4.350
11 1 3 4.350
12 2 1 2.550
13 2 1 2.550
14 2 1 2.550
15 2 1 2.550
16 2 2 2.700
17 2 2 2.700
18 2 2 2.700
19 2 2 2.700
20 2 3 2.650
21 2 3 2.650
22 2 3 2.650
23 2 3 2.650
24 3 1 4.500
25 3 1 4.500
26 3 1 4.500
27 3 2 6.325
28 3 2 6.325
29 3 2 6.325
30 3 2 6.325
31 3 3 5.933
32 3 3 5.933
33 3 3 5.933

In [34]:
summary(aov(Y~V*S,dataR))

            Df Sum Sq Mean Sq   F value Pr(>F)
V            2  50.48  25.240 1.895e+32 <2e-16 ***
S            2   4.03   2.017 1.515e+31 <2e-16 ***
V:S          4   4.37   1.093 8.210e+30 <2e-16 ***
Residuals   24   0.00   0.000
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

校正後，若將顯著水準設定在0.05，則品種與行株距皆對收量具有顯著差異，且兩者有交感，應是V3,S2這組交感最大。

### Problem2

In [33]:
y <- c(
2.9,2.4,2.0,
3.4,2.8,2.1,
3.6,NA,2.9,

2.6,2.5,1.5,
3.5,2.2,2.2,
NA,2.6,1.8)
sex <- rep(c(1,2),each=9)
B <- rep(c(1,2,3),6)

In [34]:
data2 <- data.frame(sex=factor(sex),B=factor(B),Y=y)
data2

   sex B Y
1  1   1 2.9
2  1   2 2.4
3  1   3 2.0
4  1   1 3.4
5  1   2 2.8
6  1   3 2.1
7  1   1 3.6
8  1   2  NA
9  1   3 2.9
10 2   1 2.6
11 2   2 2.5
12 2   3 1.5
13 2   1 3.5
14 2   2 2.2
15 2   3 2.2
16 2   1  NA
17 2   2 2.6
18 2   3 1.8

In [62]:
mod2 <- lm(Y~B*sex,data2)

In [63]:
summary(aov(mod2))

            Df Sum Sq Mean Sq F value  Pr(>F)
B            2  3.429  1.7146  10.956 0.00302 **
sex          1  0.401  0.4006   2.560 0.14068
B:sex        2  0.083  0.0413   0.264 0.77302
Residuals   10  1.565  0.1565
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
2 observations deleted due to missingness

In [64]:
Anova(mod2,type=2)

          Sum Sq     Df F value    Pr(>F)
B         3.18980769  2 10.1910789 0.003862842
sex       0.40064103  1  2.5600066 0.140681302
B:sex     0.08269231  2  0.2641927 0.773020726
Residuals 1.56500000 10         NA          NA

In [65]:
Anova(mod2,type=3)

            Sum Sq      Df F value     Pr(>F)
(Intercept) 32.67000000  1 208.7539936 5.009123e-08
B            1.47208333  2   4.7031416 3.633190e-02
sex          0.07500000  1   0.4792332 5.045266e-01
B:sex        0.08269231  2   0.2641927 7.730207e-01
Residuals    1.56500000 10          NA           NA

首先，應該是使用常數配合法測驗此研究。但是這筆資料並不balance也不等比。
本題希望了解學童成長與功課壓力是否有關，由以上的anova table看出，在顯著水準為0.05的慶況下，交互作用項也不顯著，故我認為使用type2型的sum of square 比較適當。  
結論是在其他條件不變的情況下，功課壓力對學童成長的確有顯著的影響。