Ex8: There were 50 students in a class. All odd-numbered studentswere boys, and all even-numbered studentswere girls. There were 7 students passing the midterm exam: 11,16,23,31,36,47,50. There were 9 students passing the final exam: 3,9,16,20,27,31,36,49,50.Please use the R commands regarding set operations to answer the following four questions:

In [119]:
pass_mid <- c(11,16,23,31,36,47,50)
pass_fin <- c(3,9,16,20,27,31,36,49,50)

(1)Please list the boys who passed both the midterm and final exams

In [120]:
x <- intersect(pass_mid,pass_fin)
j <- c()
for (i in x){
    if (i%%2 > 0){
        j <- append(j,i)    
    }
}
print(j)

[1] 31

(2)Please list the girls who passed both the midterm and final exams

In [121]:
x <- intersect(pass_mid,pass_fin)
j <- c()
for (i in x){
    if (i%%2 == 0){
        j <- append(j,i)    
    }
}
print(j)

[1] 16 36 50

(3)Please list the boys who passed the midterm exam but failed the final exam

In [122]:
x <- setdiff(pass_mid,pass_fin)
j <- c()
for (i in x){
    if (i%%2 != 0){
        j <- append(j,i)    
    }
}
print(j)

[1] 11 23 47

(4)Please list the girls who failed the midterm exam but passed the final exam

In [123]:
x <- setdiff(pass_fin,pass_mid)
j <- c()
for (i in x){
    if (i%%2 == 0){
        j <- append(j,i)    
    }
}
print(j)

[1] 20

Ex 9: Please write a function on your own to estimate the regression coefficients of a simple linear regression, where the response variable is “y” from “seizure.csv”(Week 1course material)and the predictorvariable is “ltime” from “seizure.csv”.(Hint: the regression coefficientsshouldinclude an intercept term and a slope term)

In [124]:
getwd()

[1] "C:/Users/User/Desktop"

In [125]:
setwd("C:/Users/User/Desktop")
hw <- read.csv('seizure.csv')
head(hw)

  id  y  visit trt bline age x1 ltime
1 101 76 0     1   76    18  0  2.0794415
2 101 11 1     1   76    18  1  0.6931472
3 101 14 2     1   76    18  1  0.6931472
4 101  9 3     1   76    18  1  0.6931472
5 101  8 4     1   76    18  1  0.6931472
6 102 38 0     1   38    32  0  2.0794415

In [126]:
reg <- function(y,x){
    ybar <- sum(y)/length(y)
    xbar <- sum(x)/length(x)
    Y <- y-ybar
    X <- x-xbar
    beta1 <- (sum(X*Y))/(sum(X*X))
    beta0 <- ybar-beta1*xbar
    ans <- paste("intercept = " ,beta0, ", slope =",beta1)
    ans
    return(ans)
}

In [127]:
reg(hw$y,hw$ltime)

[1] "intercept =  -3.9224137938988 , slope = 15.9069565286505"