In [2]:
import warnings
warnings.filterwarnings('ignore')

In [1]:
hw="D:\\OneDrive - g.ntu.edu.tw\\111-2\\生物計算\\assignment1\\template_python"

%cd $hw

D:\OneDrive - g.ntu.edu.tw\111-2\生物計算\assignment2\assignment2-question3

In [62]:
%%writefile a1_q1.py 
# %load "a1_q1.py
import math


def a1_q1(temperature, degree):
    if (degree=="C" or degree=='c'):
        answer = (temperature - 32) * 5 / 9  # F to C
    if (degree=="F" or degree=='f'):
        answer =  temperature * 9 / 5 + 32  # C to F
    return answer

Overwriting a1_q1.py

In [70]:
%%writefile a1_q2.py 
# %load a1_q2.py

def a1_q2(input):
    answer = [input[0]+input[1],input[1]-input[2],input[2]*input[3],input[3]/input[4]]
    return answer

Overwriting a1_q2.py

In [82]:
%%writefile a1_q3.py 
# %load a1_q3.py

def a1_q3(input):
    answer = {
      "sum": input['x'] + input['y'],
      "difference": input['x'] - input['y'],
      "product": input['x'] * input['y'],
      "ratio":  input['x'] / input['y']
    }
    return answer

Overwriting a1_q3.py

In [ ]:
# %load a1_q4.py
# %load a1_q4.py
from decimal import *
def a1_q4(numbers):
    answer = 0
    
    for i in numbers:
        n=str(i)
        answer += Decimal(n)
   
    answer= float(answer)    
    return answer

In [ ]:
# %load a1_q5.py
# %load a1_q5.py

def a1_q5(lower,  upper):
    answer=[]
    for i in range(round(lower)-1,round(upper)+2):
        answer.append(i)
    copy = answer.copy() 
    for i in copy:
        
        if i<lower or i>upper:
         
            answer.remove(i)
            continue
        if i%2!=0:   
           
            answer.remove(i)
           
    return answer

In [158]:
%%writefile a1_q6.py 
# %load a1_q6.py

def a1_q6(n):
    if n == 0: return 0
    if n == 1: return 1
    if n == 2: return 1
    answer = a1_q6(n-1) + a1_q6(n-2) * 2 + a1_q6(n-3) *3
    return answer

Overwriting a1_q6.py

In [1]:
hw="D:\\OneDrive - g.ntu.edu.tw\\111-2\\生物計算\\assignment2\\assignment2-question3"
%cd $hw

D:\OneDrive - g.ntu.edu.tw\111-2\生物計算\assignment2\assignment2-question3

In [8]:
%%writefile a2_q3.py

Overwriting a2_q3.py

In [2]:

# %load a2_q3.py
def a2_q3(arr):
#     arr1 = sorted(arr[:len(arr)//2])
#     arr2 = sorted(arr[len(arr)//2:])
#     def swap (x,y):
#         arr1[x], arr2[y]= arr2[y], arr1[x]
#         return 0
    arr.sort(reverse=True)
    arr1=[]
    arr2=[]
    
    #sorted(arr[len(arr)//2:])
    for i in arr:
        if sum(arr2) > sum(arr1):
            arr1.append(i)
        else:
            arr2.append(i)
    arr1.sort()
    arr2.sort()
    
    if (len(arr)//2 != len(arr1)) or (len(arr)//2 != len(arr2)):
        #print("false")
        while ((len(arr)//2 != len(arr1)) and (len(arr)//2 != len(arr2))):
            i = 0
            arr2.append(arr1.pop(i))
            i =+ 1
            
            
    
    
    diff= abs(sum(arr1)-sum(arr2))
    arr1.sort()
    arr2.sort()
    
    
    return {"diff": diff, "group1": arr1, "group2": arr2}


#a2_q3([1, 2, 3, 4, 5, 6, 7, 100])

In [1]:
hw="D:\\OneDrive - g.ntu.edu.tw\\111-2\\生物計算\\assignment2\\assignment2-question2"
%cd $hw

D:\OneDrive - g.ntu.edu.tw\111-2\生物計算\assignment2\assignment2-question2

In [37]:
%%writefile a2_q2.py
# %load a2_q2.py


def a2_q2(input):
    x = input['x'] 
    y = input['y']
    answer = {
#         "sum": x + y,
#         "difference": x - y,
#         "product": x * y,
#         "ratio":  x / y,
        'power_xy': x**y,
        'power_yx': y**x,
        'repeat_x_times': 'x'*x, 
        'repeat_y_times': f"{y}"*y,
        'xth_alphabet_repeat_y_times': chr(x+96)*y
    }
    return answer

Overwriting a2_q2.py

In [1]:
hw="D:\\OneDrive - g.ntu.edu.tw\\111-2\\生物計算\\assignment4"
%cd $hw

D:\OneDrive - g.ntu.edu.tw\111-2\生物計算\assignment4

In [2]:
#%%writefile a4_q1_data_preproess.py
# %load a4_q1_data_preproess.py
import csv
import pandas as pd
pd.set_option('display.max_rows', None)
df = pd.read_csv('a4_table1.csv')
df = df.dropna()
df["Course number"]=df["Course number"].str.replace("\t","")
df["Course number"]=df["Course number"].str.replace(" ","")
df["Course number"]=df["Course number"].str.replace("\xa0","")
df["Course number"]=df["Course number"].str.replace("?","")
df["Course number"]=df["Course number"].str.replace("?","")
df["Course number"]=df["Course number"].str.upper()
df["Course in College"]=df["Course in College"].str.replace("&","and")
df = df.drop_duplicates(subset=['Course number'])
college=[
"College of Social Sciences",
"College of Medicine",
"College of Engineering",
"College of Bio-Resources and Agriculture",
'College of Management',
"College of Public Health",
"College of Electrical Engineering and Computer Science",
"College of Law",
"College of Life Science",
"International College",
"D-School",
"Graduate School of Advanced Technology",
"Center for General Education",
"School of Professional Education and Continuing Studies",
"College of Liberal Arts",
"College of Science"]
df = df[df["Course in College"] .isin (college)]
df["Course name"]=df["Course name"].str.replace("\x87","")
df["Course name"]=df["Course name"].str.replace("¢","")
df["Course name"]=df["Course name"].str.replace("¹","I")
df["Course name"]=df["Course name"].str.replace("º","II")
df["Course name"]=df["Course name"].str.replace("â\x85¡","II")
df["Course name"][0]=df["Course name"][0].replace("T","I")
df["Course name"][2]=df["Course name"][2].replace("1","(I)")
df["Course name"][171]=df["Course name"][171].replace("U","II")
df["Course name"]=df["Course name"].str.replace("?","")
df["Course name"]=df["Course name"].str.replace("Ê","")
df.to_csv('a4_q1_preproess.csv', index=False) 
for i in range(0,df.shape[0]):
    id = 0
    if str(df["Course in College"].iloc[i]) == "College of Liberal Arts":
        id = 101
    elif str(df["Course in College"].iloc[i]) == "College of Science":
        id = 102
    elif str(df["Course in College"].iloc[i]) == "College of Social Sciences":
        id = 103
    elif str(df["Course in College"].iloc[i]) == "College of Medicine":
        id = 104
    elif str(df["Course in College"].iloc[i]) == "College of Engineering":
        id = 105
    elif str(df["Course in College"].iloc[i]) == "College of Bio-Resources and Agriculture":
        id = 106
    elif str(df["Course in College"].iloc[i]) == "College of Management":
        id = 107
    elif str(df["Course in College"].iloc[i]) == "College of Public Health":
        id = 108
    elif str(df["Course in College"].iloc[i]) == "College of Electrical Engineering and Computer Science":
        id = 109
    elif str(df["Course in College"].iloc[i]) == "College of Law":
        id = 110
    elif str(df["Course in College"].iloc[i]) == "College of Life Science":
        id = 111
    elif str(df["Course in College"].iloc[i]) == "International College":
        id = 112
    elif str(df["Course in College"].iloc[i]) == "D-School":
        id = 113
    elif str(df["Course in College"].iloc[i]) == "Graduate School of Advanced Technology":
        id = 114
    elif str(df["Course in College"].iloc[i]) == "Center for General Education":
        id = 115
    elif str(df["Course in College"].iloc[i]) == "School of Professional Education and Continuing Studies":
        id = 116
    
    print("(","\'"+str(df["Course number"].iloc[i])+"\',",
          "\'"+str(df["Course name"].iloc[i])+"\',",
          id,"),")
course = df["Course number"].values.tolist()

Overwriting a4_q1_data_preproess.py

In [3]:
#%%writefile a4_q2_data_preproess.py
# %load a4_q2_data_preproess.py
import csv
import pandas as pd
pd.set_option('display.max_rows', None)
df = pd.read_csv('a4_table2.csv')
df = df.dropna()
df["Course number"]=df["Course number"].str.replace("\t","")
df["Course number"]=df["Course number"].str.replace(" ","")
df["Course number"]=df["Course number"].str.replace("\xa0","")
df["Course number"]=df["Course number"].str.replace("?","")
df["Course number"]=df["Course number"].str.upper()
df["Credit"] = df["Credit"].astype('int')
df["Year (20XX)"] = df["Year (20XX)"].astype('int')
df = df[df["Course number"] .isin (course)]
df['TimeSlot'] = df["Period"]
df['TimeSlot'] = df['TimeSlot'].replace("A",11)
df['TimeSlot'] = df['TimeSlot'].replace("B",12)
df['TimeSlot'] = df['TimeSlot'].replace("C",13)
df['TimeSlot'] = df['TimeSlot'].replace("D",14)
df['TimeSlot'] = df['TimeSlot'].replace("X",-1)
df['TimeSlot'] = df['TimeSlot'].astype('float')
df['TimeSlot'] = df['TimeSlot'].astype('int')

df["Day of the Week"]=df["Day of the Week"].str.replace(" ","")
df['TimeSlot_week'] = df["Day of the Week"]

df['TimeSlot_week'] = df['TimeSlot_week'].replace("Monday",2)
df['TimeSlot_week'] = df['TimeSlot_week'].replace("Momday",2)
df['TimeSlot_week'] = df['TimeSlot_week'].replace("Tuesday",3)
df['TimeSlot_week'] = df['TimeSlot_week'].replace("Wednesday",4)
df['TimeSlot_week'] = df['TimeSlot_week'].replace("Thursday",5)
df['TimeSlot_week'] = df['TimeSlot_week'].replace("Thusday",5)
df['TimeSlot_week'] = df['TimeSlot_week'].replace("Friday",6)
df['TimeSlot_week'] = df['TimeSlot_week'].replace("Firday",6)
df['TimeSlot_week'] = df['TimeSlot_week'].replace("Online",-1)
df['TimeSlot_week'] = df['TimeSlot_week'].replace("Saturday",7)

df['TimeSlotId'] = (df["TimeSlot"] +1)+ ((df["TimeSlot_week"]-1)*15)
df = df.drop(df[(df.TimeSlotId < 0) | (df.TimeSlotId > 105)].index)
id = []
for i in df["Course number"].values.tolist():
    count = 0
    for j in course:
        count += 1
        if i == j :
            id.append(count)
for i in range(1,df.shape[0]):
    print("(",
          "\'"+str(id[i])+"\',",
          #"\'"+str(df["Course number"].iloc[i])+"\',",
          "\'"+str(df["TimeSlotId"].iloc[i])+"\',",
          "\'"+str(df["Year (20XX)"].iloc[i])+"\',",
          "\'"+str(df["Semester"].iloc[i])+"\',",
          "\'"+str(df["Credit"].iloc[i])+"\'"
          "),")

Overwriting a4_q2_data_preproess.py

In [6]:
for i in range(1,36):
    if i <=5:
        print("(",
              "\'"+str(i)+"\',","\'"+str(4)+"\'",
              #"\'"+str(df["Course number"].iloc[i])+"\',",
              "),")
    else:
            print("(",
              "\'"+str(i)+"\',","\'"+str(2)+"\'",
              #"\'"+str(df["Course number"].iloc[i])+"\',",
              "),")

( '1', '4' ),
( '2', '4' ),
( '3', '4' ),
( '4', '4' ),
( '5', '4' ),
( '6', '2' ),
( '7', '2' ),
( '8', '2' ),
( '9', '2' ),
( '10', '2' ),
( '11', '2' ),
( '12', '2' ),
( '13', '2' ),
( '14', '2' ),
( '15', '2' ),
( '16', '2' ),
( '17', '2' ),
( '18', '2' ),
( '19', '2' ),
( '20', '2' ),
( '21', '2' ),
( '22', '2' ),
( '23', '2' ),
( '24', '2' ),
( '25', '2' ),
( '26', '2' ),
( '27', '2' ),
( '28', '2' ),
( '29', '2' ),
( '30', '2' ),
( '31', '2' ),
( '32', '2' ),
( '33', '2' ),
( '34', '2' ),
( '35', '2' ),