## Problem 1
Â∏ÇÂ†¥Ë™øÊü•È£≤ÊñôÂè£Âë≥‰∏çÂêåÔºåÂÖ∂Èä∑ÂîÆÈáèÊòØÂê¶ÊúâÂà•ÔºåÂú®ÊüêÂú∞ÂçÄÂêå‰∏ÄÈ£≤ÊñôÊúâ 3 Á®Æ‰∏çÂêåÂè£Âë≥Ôºå‰ªäÈö®Ê©üË™øÊü•ÂêÑÂè£Âë≥ÊØèÊó•Èä∑ÂîÆÈáèÂ¶Ç‰∏ã(ÂñÆ‰Ωç:Êâì)Ôºå  
(a) ÊØîËºÉÊ∂àË≤ªËÄÖÂ∞ç‰∏çÂêåÂè£Âë≥ÁöÑÈ£≤ÊñôÂñúÂ•ΩÊòØÂê¶ÊúâÈ°ØËëóÂ∑ÆÁï∞„ÄÇ(15ÔºÖ)

In [16]:
orange <- c(10.3,10.2,9.7,8.5,10.6,9.2,11.2)
strawberry <- c(11.2,12.3,11.2,11.1,10.5,9.9,NA)
lemon <- c(13.5,12.6,10.8,12.2,13.3,NA,NA)
y <- c(orange,strawberry,lemon)
n <- rep(7,3)
group.vec <- c("1orange","2strawberry","3lemon")
group <- rep(group.vec ,n)
data = data.frame(y = y, group = factor(group))
fit = lm(y ~ group, data)
anova(fit)

          Df Sum Sq   Mean Sq   F value  Pr(>F)
group      2 18.56652 9.2832619 10.91423 0.00118661
Residuals 15 12.75848 0.8505651       NA         NA

Âú®È°ØËëóÊ∞¥Ê∫ñÁÇ∫0.05ÁöÑÊÉÖÊ≥Å‰∏ãÔºåÊ∂àË≤ªËÄÖÂ∞ç‰∏çÂêåÂè£Âë≥ÁöÑÈ£≤ÊñôÂñúÂ•ΩÁöÑÁ¢∫ÊúâÂ∑ÆÁï∞

(b) Ëã•ÊúâÈ°ØËëóÂ∑ÆÁï∞ÔºåÂâáË´ãÈÄ≤‰∏ÄÊ≠•‰ª•Ê≠£‰∫§Â∞çÊØî(orthogonal contrast)ÊâæÂá∫È°ØËëóÂ∑ÆÁï∞Âú®Âì™‰∫õÂè£Âë≥ÈñìÔºåË´ãÈôÑ‰∏äÁ®ãÂºèÁ¢º„ÄÅËº∏Âá∫ÁµêÊûúÔºå‰∏¶Âä†‰ª•Ëß£Èáã„ÄÇ(15%)

In [20]:
c1<-c(6,-7,0); # 
c2<-c(0,0,1); #
mat<-cbind(c1,c2);
# Assign the matrix to the classification variable, treat.
contrasts(data$group)<-mat
contrast.mod<-aov(y~group,data);
summary(contrast.mod,split=list(group=list("orange vs strawberry"=1)));

                              Df Sum Sq Mean Sq F value  Pr(>F)
group                          2 18.567   9.283  10.914 0.00119 **
  group: orange vs strawberry  1  3.742   3.742   4.399 0.05331 .
Residuals                     15 12.758   0.851
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
3 observations deleted due to missingness

In [27]:
c1<-c(5,0,-7); # 
c2<-c(0,1,0); #
mat<-cbind(c1,c2);
# Assign the matrix to the classification variable, treat.
contrasts(data$group)<-mat
contrast.mod<-aov(y~group,data);
summary(contrast.mod,split=list(group=list("orange vs lemon"=1)));

                         Df Sum Sq Mean Sq F value   Pr(>F)
group                     2  18.57   9.283   10.91 0.001187 **
  group: orange vs lemon  1  18.56  18.564   21.83 0.000301 ***
Residuals                15  12.76   0.851
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
3 observations deleted due to missingness

In [23]:
c1<-c(0,5,-6); # 
c2<-c(1,0,0); #
mat<-cbind(c1,c2);
# Assign the matrix to the classification variable, treat.
contrasts(data$group)<-mat
contrast.mod<-aov(y~group,data);
summary(contrast.mod,split=list(group=list("strawberry vs lemon"=1)));

                             Df Sum Sq Mean Sq F value  Pr(>F)
group                         2 18.567   9.283  10.914 0.00119 **
  group: strawberry vs lemon  1  5.708   5.708   6.711 0.02048 *
Residuals                    15 12.758   0.851
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
3 observations deleted due to missingness

Âú®‰ΩøÁî®Ê≠£‰∫§Â∞çÊØîÁöÑÊÉÖÊ≥Å‰∏ãÔºåÊ©òÂ≠êÂíåÊ™∏Ê™¨ÔºåËçâËéìÂíåÊ™∏Ê™¨Âè£Âë≥ÊúâÈ°ØËëóÂ∑ÆÁï∞„ÄÇ

# Problem 2
The yield of a chemical process was measured using five batches of raw material, five acid concentrations, five standing times (A, B, C, D, E), and five catalyst concentrations (Œ±, Œ≤, Œ≥, Œ¥, œµ). The Graeco-Latin square that follows was used. Analyze the data from this experiment (use ùõº = 0.05) and draw conclusions. (20%)

In [36]:
acid<-rep(c(1:5),5);
batch<-rep(c(1:5),each=5);
treat1<-
c("A","B","C","D","E",
"B","C","D","E","A",
"C","D","E","A","B",
"D","E","A","B","C",
"E","A","B","C","D");
obs<-
c(26,16,19,16,13,
18,21,18,11,21,
20,12,16,25,13,
15,15,22,14,17,
10,24,17,17,14);
treat2 <- 
c("alpha","beta","gamma","delta","epsilon",
"gamma","delta","epsilon","alpha","beta",
"epsilon","alpha","beta","gamma","delta",
"beta","gamma","delta","epsilon","alpha",
"delta","epsilon","alpha","beta","gamma")
data<-data.frame(treat1,treat2,batch,acid,obs);
data

   treat1 treat2  batch acid obs
1  A      alpha   1     1    26
2  B      beta    1     2    16
3  C      gamma   1     3    19
4  D      delta   1     4    16
5  E      epsilon 1     5    13
6  B      gamma   2     1    18
7  C      delta   2     2    21
8  D      epsilon 2     3    18
9  E      alpha   2     4    11
10 A      beta    2     5    21
11 C      epsilon 3     1    20
12 D      alpha   3     2    12
13 E      beta    3     3    16
14 A      gamma   3     4    25
15 B      delta   3     5    13
16 D      beta    4     1    15
17 E      gamma   4     2    15
18 A      delta   4     3    22
19 B      epsilon 4     4    14
20 C      alpha   4     5    17
21 E      delta   5     1    10
22 A      epsilon 5     2    24
23 B      alpha   5     3    17
24 C      beta    5     4    17
25 D      gamma   5     5    14

In [37]:
data.mod<-lm(obs~ factor(treat1) + factor(treat2) +factor(batch) +factor(acid),data=data);
anova(data.mod);

               Df Sum Sq Mean Sq F value    Pr(>F)
factor(treat1) 4  342.8  85.70   14.6495726 0.0009410197
factor(treat2) 4   12.0   3.00    0.5128205 0.7289001416
factor(batch)  4   10.0   2.50    0.4273504 0.7854473722
factor(acid)   4   24.4   6.10    1.0427350 0.4425434186
Residuals      8   46.8   5.85           NA           NA

Áî±Graeco-Latin square ÁöÑÂàÜÊûêÂæóÂá∫ÔºåÂú®È°ØËëóÊ∞¥Ê∫ñÁÇ∫0.05ÁöÑÊÉÖÊ≥Å‰∏ãÔºåÂè™Êúâstanding timesÊúÉÂ∞éËá¥Áî¢ÈáèÂú®Áµ±Ë®à‰∏äÊúâÈ°ØËëóÁöÑ‰∏çÂêå„ÄÇ