## problem1

(a)Suppose we assume that no interaction exists. Write down the statistical model. Conduct the ANOVA and test hypotheses on the main effects. What conclusions can be drawn?

In [1]:
y <- c(570,1063,565,
       565,1080,510,
       583,1043,590,
       528,988,526,
       547,1026,538,
       521,1004,532)
t <- rep(c("800","825","850"),time=6);
p <- rep(c("1","2"),each=9)
data <- data.frame(
    T=factor(t),
    P=factor(p),
    Y=y
)
data

   T   P Y
1  800 1  570
2  825 1 1063
3  850 1  565
4  800 1  565
5  825 1 1080
6  850 1  510
7  800 1  583
8  825 1 1043
9  850 1  590
10 800 2  528
11 825 2  988
12 850 2  526
13 800 2  547
14 825 2 1026
15 850 2  538
16 800 2  521
17 825 2 1004
18 850 2  532

In [2]:
mod<-lm(Y~T+P,data)
anova(mod)

          Df Sum Sq     Mean Sq     F value    Pr(>F)
T          2 945342.111 472671.0556 1069.25713 4.923500e-16
P          1   7160.056   7160.0556   16.19718 1.254167e-03
Residuals 14   6188.778    442.0556         NA           NA

在顯著水準為0.05的情況下，溫度和位置皆對baked density of a carbon anode有顯著影響。

(b)Suppose that the furnace positions were randomly selected, resulting in a mixed model experiment. Reanalyze the data from this experiment under this new assumption. Estimate the appropriate model components using the ANOVA method. Please calculate the expected mean squares of each factor and perform appromicate F-test following Sattherwaite’s procedure.

In [3]:
mod<-lm(Y~T+P+T:P,data)
anova(mod)

          Df Sum Sq      Mean Sq     F value      Pr(>F)
T          2 945342.1111 472671.0556 1056.1170556 3.249924e-14
P          1   7160.0556   7160.0556   15.9981380 1.762434e-03
T:P        2    818.1111    409.0556    0.9139772 4.271101e-01
Residuals 12   5370.6667    447.5556           NA           NA

In [14]:
d <- anova(mod)$Df
M <- anova(mod)$'Mean Sq'
F_temp <- M[1]/M[3]
F_pos <- M[2]/M[4]
F_inter <- M[3]/M[4]
p_T <- pf(F_temp, d[1], d[3], lower.tail = FALSE)
p_p <- pf(F_pos,d[2] ,d[4] , lower.tail = FALSE)
p_i <- pf(F_inter, d[3], d[4], lower.tail = FALSE)
cat("EMS:\n","temp",M[1],"\n","pos:",M[2],"\ninter:",M[3])

EMS:
 temp 472671.1
 pos: 7160.056
inter: 409.0556

In [9]:
cat("temperature p value:",p_T,"\n",
   "position p value:",p_p,"\n",
   "interaction p value:",p_i,"\n")

temperature p value: 0.0008646645
 position p value: 0.001762434
 interaction p value: 0.4271101