---
title: "Midterm"  
author: "曾政夫"  
date: "4/11/2022"  

---

## problem1

In [33]:
obs <- c(
10,14,7,8,
7,18,11,8,
5,10,11,9,
10,10,12,14)
day <- rep(c("1","2","3","4"),4)
add <- rep(c("1甲","2乙","3丙","4丁"),each=4)
treat <- c(
"3C","4D","1A","2B",
"2B","3C","4D","1A",
"1A","2B","3C","4D",
"4D","1A","2B","3C")

In [34]:
data <- data.frame(
y= obs,
Day=as.factor(day),
Add=as.factor(add),
Treat=as.factor(treat))

In [35]:
data

   y  Day Add Treat
1  10 10  1甲 3C
2  14 20  1甲 4D
3   7 30  1甲 1A
4   8 40  1甲 2B
5   7 10  2乙 2B
6  18 20  2乙 3C
7  11 30  2乙 4D
8   8 40  2乙 1A
9   5 10  3丙 1A
10 10 20  3丙 2B
11 11 30  3丙 3C
12  9 40  3丙 4D
13 10 10  4丁 4D
14 10 20  4丁 1A
15 12 30  4丁 2B
16 14 40  4丁 3C

### a.

In [36]:
model <- lm(y~Treat,data)
anova(model)

          Df Sum Sq Mean Sq   F value  Pr(>F)
Treat      3 72.5   24.166667 3.602484 0.04602117
Residuals 12 80.5    6.708333       NA         NA

在alpha=0.05的條件下，我們會拒絕四種化學成分反應時間相同的虛無假設。(不同)

### b.

In [37]:
model <- lm(y~Treat+Add,data)
anova(model)

          Df Sum Sq Mean Sq   F value   Pr(>F)
Treat     3  72.5   24.166667 3.5080645 0.0624935
Add       3  18.5    6.166667 0.8951613 0.4803498
Residuals 9  62.0    6.888889        NA        NA

在alpha=0.05的條件下，我們無法拒絕四種化學成分反應時間相同的虛無假設。(相同)

### c.

In [38]:
model <- lm(y~Treat+Add+Day,data)
anova(model)

          Df Sum Sq Mean Sq   F value   Pr(>F)
Treat     3  72.5   24.166667 13.809524 0.004213040
Add       3  18.5    6.166667  3.523810 0.088518683
Day       3  51.5   17.166667  9.809524 0.009925869
Residuals 6  10.5    1.750000        NA          NA

在alpha=0.05的條件下，我們會拒絕四種化學成分反應時間相同的虛無假設。(不同)

## problem2

In [60]:
obs <-c(
    2.5, 2.6, 2.4, 2.7, 3.8, 4.5, 4.2, 4.0, 5.5, 6.0, 4.8, 5.0,
    1.9, 2.2, 2.2, 2.0, 2.6, 3.0, 3.5, 2.8, 3.6, 3.9, 3.5, 4.2) 
vit <- rep(rep(c(10,20,30),each=4),2)
t <- rep(c("t1","t2"),each=12)

In [61]:
data <- data.frame(
y= obs,
Vit=as.factor(vit),
Time=as.factor(t))

In [62]:
data

   y   Vit Time
1  2.5 10  t1
2  2.6 10  t1
3  2.4 10  t1
4  2.7 10  t1
5  3.8 20  t1
6  4.5 20  t1
7  4.2 20  t1
8  4.0 20  t1
9  5.5 30  t1
10 6.0 30  t1
11 4.8 30  t1
12 5.0 30  t1
13 1.9 10  t2
14 2.2 10  t2
15 2.2 10  t2
16 2.0 10  t2
17 2.6 20  t2
18 3.0 20  t2
19 3.5 20  t2
20 2.8 20  t2
21 3.6 30  t2
22 3.9 30  t2
23 3.5 30  t2
24 4.2 30  t2

### a.

In [67]:
model <- lm(y~Time,data)
anova(model)

          Df Sum Sq Mean Sq  F value Pr(>F)
Time       1  6.615 6.615000 6.20597 0.02076306
Residuals 22 23.450 1.065909      NA         NA

在alpha=0.05的條件下，在不同的時間餵老鼠維他命的確對其體重有顯著差異。

### b.

In [64]:
model <- lm(y~Vit,data)
anova(model)

          Df Sum Sq  Mean Sq    F value Pr(>F)
Vit        2 20.3175 10.1587500 21.886  7.306954e-06
Residuals 21  9.7475  0.4641667     NA            NA

在alpha=0.05的條件下，單看維他命的劑量對老鼠的體重的確有顯著差異。

### c.

In [68]:
model <- lm(y~Time+Vit,data)
anova(model)

          Df Sum Sq  Mean Sq   F value  Pr(>F)
Time       1  6.6150  6.615000 42.23464 2.461657e-06
Vit        2 20.3175 10.158750 64.86034 1.809182e-09
Residuals 20  3.1325  0.156625       NA           NA

在alpha=0.05的條件下，同時考慮兩個維度，時間與維他命劑量皆對老鼠的體重有所影響，即在不同的時間餵食不同的劑量，會對老鼠的體重有顯著的影響。

### d.

In [66]:
model <- lm(y~Vit*Time,data)
anova(model)

          Df Sum Sq  Mean Sq    F value  Pr(>F)
Vit        2 20.3175 10.1587500 91.42875 3.727864e-10
Time       1  6.6150  6.6150000 59.53500 4.085578e-07
Vit:Time   2  1.1325  0.5662500  5.09625 1.762992e-02
Residuals 18  2.0000  0.1111111       NA           NA

若結合題目中的數據，在8AM餵食30ug的維他命老鼠的體重能夠增加最多。