In [1]:
install.packages("daewr")

also installing the dependencies 'gmp', 'polynom', 'sets', 'mathjaxr', 'conf.design', 'vcd', 'combinat', 'numbers', 'partitions', 'DoE.base', 'sfsmisc', 'scatterplot3d', 'igraph', 'FrF2'

  There are binary versions available but the source versions are later:
           binary source needs_compilation
gmp         0.6-2  0.6-5              TRUE
sets       1.0-18 1.0-21              TRUE
mathjaxr    1.4-0  1.6-0              TRUE
vcd         1.4-8  1.4-9             FALSE
numbers     0.7-5  0.8-2             FALSE
partitions 1.10-2 1.10-4              TRUE
DoE.base    1.1-6    1.2             FALSE
sfsmisc    1.1-11 1.1-13             FALSE
igraph      1.2.6  1.3.0              TRUE

  Binaries will be installed
package 'gmp' successfully unpacked and MD5 sums checked
package 'polynom' successfully unpacked and MD5 sums checked
package 'sets' successfully unpacked and MD5 sums checked
package 'mathjaxr' successfully unpacked and MD5 sums checked
package 'conf.design' successfully unpacked and MD5 sums checked
package 'combinat' successfully unpacked and MD5 sums checked
package 'partitions' successfully unpacked and MD5 sums checked
package 'scatterplot3d' successfully unpacked and MD5 sums checked
package 'igraph' successfully unpacked and MD5 sums checked
package 'FrF2' successfully unpacked and MD5 sums checked
package 'daewr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\User\AppData\Local\Temp\RtmpW4Nq5k\downloaded_packages

installing the source packages 'vcd', 'numbers', 'DoE.base', 'sfsmisc'

In [1]:
library(daewr)

Warning message:
"package 'daewr' was built under R version 3.6.3"Registered S3 method overwritten by 'DoE.base':
  method           from
  factorize.factor conf.design

## problem 1

a. If experiments were to be conducted with the catapult by flipping the ball and measuring the distance, what would the experimental unit be?

實驗單位為被實驗的對象，我們調整catapult上的三個因子，所以我認為本題的實驗單位應該是指catapult。

b. Using the numbers 1, 2, and 3 to represent the levels of start angle and stop angle, and holding the pivot height constant at its high level, make a randomized list of experiments for a 3×3 factorial experiment with r = 2 replicates per cell.

|            |                                     | start angle |        |        |
|------------|-------------------------------------|:-----------:|:------:|:------:|
|            | each group(cell) have 2 replicates  | levels=1    | 2      | 3      |
| stop angle | level=1                             | Group1      | Group4 | Group7 |
|            | 2                                   | Group2      | Group5 | Group8 |
|            | 3                                   | Group3      | Group6 | Group9 |

c. If the variance of the experimental error in the measured distance was σ2 = 12 inches, calculate the number of replicates you would need to have a power of 0.90 for detecting a difference in 10 inches in cell means.

the number of levels of the factor:3*3= 9

In [21]:
i <- 2
p <- 0
while(p < 0.9){    
    p <- Fpower1(0.05,9,i,10,sqrt(12))[6]
    i <- i+1
}
Fpower1(0.05,9,i-1,10,sqrt(12))

     alpha nlev nreps Delta sigma    power
[1,] 0.05  9    6     10    3.464102 0.9318988

需要6個

Calculate the number of replicates you would need to have a power of 0.90 for detecting a difference of 24 inches in marginal means for either factor.

In [22]:
i <- 2
p <- 0
while(p < 0.9){    
    p <- Fpower1(0.05,9,i,24,sqrt(12))[6]
    i <- i+1
}
Fpower1(0.05,9,i-1,24,sqrt(12))

     alpha nlev nreps Delta sigma    power
[1,] 0.05  9    2     24    3.464102 0.9445589

需要兩個replicates

## problem 2

Perform factorial design to investigate all the effects and state your interpretation.

In [20]:
y <- c(
30,34,29,28,31,31,31,35,32,
35,41,26,32,36,30,37,40,34,
37,38,33,40,42,32,41,39,39,
36,42,36,41,40,40,40,44,45
)
method <- rep(rep(c(1,2,3),3),4)
day <- rep(rep(c(1,2,3),each=3),4)
temp <- rep(c(1,2,3,4),each=9)
data<-data.frame(day=factor(day),method=factor(method),temp=factor(temp),obs=y)
data

   day method temp obs
1  1   1      1    30
2  1   2      1    34
3  1   3      1    29
4  2   1      1    28
5  2   2      1    31
6  2   3      1    31
7  3   1      1    31
8  3   2      1    35
9  3   3      1    32
10 1   1      2    35
11 1   2      2    41
12 1   3      2    26
13 2   1      2    32
14 2   2      2    36
15 2   3      2    30
16 3   1      2    37
17 3   2      2    40
18 3   3      2    34
19 1   1      3    37
20 1   2      3    38
21 1   3      3    33
22 2   1      3    40
23 2   2      3    42
24 2   3      3    32
25 3   1      3    41
26 3   2      3    39
27 3   3      3    39
28 1   1      4    36
29 1   2      4    42
30 1   3      4    36
31 2   1      4    41
32 2   2      4    40
33 2   3      4    40
34 3   1      4    40
35 3   2      4    44
36 3   3      4    45

In [23]:
model<-lm(obs~day+method*temp,data=data)
anova(model)
summary(model)

            Df Sum Sq    Mean Sq   F value   Pr(>F)
day          2  77.55556  38.77778  7.915464 2.572365e-03
method       2 128.38889  64.19444 13.103608 1.788203e-04
temp         3 434.08333 144.69444 29.535567 6.742916e-08
method:temp  6  75.16667  12.52778  2.557216 4.943353e-02
Residuals   22 107.77778   4.89899        NA           NA

Call:
lm(formula = obs ~ day + method * temp, data = data)

Residuals:
    Min      1Q  Median      3Q     Max
-3.0556 -1.0972 -0.3889  1.4861  3.2778

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)    28.3889     1.3803  20.568 7.42e-16 ***
day2            0.5000     0.9036   0.553  0.58561
day3            3.3333     0.9036   3.689  0.00128 **
method2         3.6667     1.8072   2.029  0.05474 .
method3         1.0000     1.8072   0.553  0.58561
temp2           5.0000     1.8072   2.767  0.01125 *
temp3           9.6667     1.8072   5.349 2.27e-05 ***
temp4           9.3333     1.8072   5.165 3.54e-05 ***
method2:temp2   0.6667     2.5558   0.261  0.79664
method3:temp2  -5.6667     2.5558  -2.217  0.03725 *
method2:temp3  -3.3333     2.5558  -1.304  0.20563
method3:temp3  -5.6667     2.5558  -2.217  0.03725 *
method2:temp4  -0.6667     2.5558  -0.261  0.79664
method3:temp4   0.3333     2.5558   0.130  0.89742
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 2.213 on 22 degrees of freedom
Multiple R-squared:  0.869,	Adjusted R-squared:  0.7917
F-statistic: 11.23 on 13 and 22 DF,  p-value: 7.18e-07

結論：由於本題將days設定為block，所以我沒有將其放入交互作用項中。根據anova table，在顯著水準為0.05的情況下，我們能夠宣稱使用不同的 preparation method 和 temperature 會造成紙張的tensile strength有顯著的不同。與此同時，anova table也指出preparation method 和 temperature有交互作用，而不同的block間也有顯著的差異。